{% extends 'base.html' %}

{% block meta_title %}FAQ - cours particuliers, mutualisés, ...{% endblock %}

{% block title %}questions fréquentes{% endblock title %}

{% block page_id %}pg_faq{% endblock page_id %}

{% block body %}
    <section>
        <ul>
            <li>
                <h3>Qu'est-ce que Scolia ?</h3>
                <p>Scolia est une <strong>plateforme de cours mutualisés</strong> qui permet à des particuliers de se regrouper afin de suivre des cours avec un enseignant.</p>
            </li>
            <li>
                <h3>Que sont les cours mutualisés ?</h3>
                <p>En complément aux cours particuliers, les cours mutualisés sont des cours donnés à un petit groupe d'élèves désireux de partager une matière commune.</p>
            </li>
            <li>
                <h3>Quels intérêts par rapport aux cours particuliers ?</h3>
                <p>Le <strong>coût est divisé</strong> entre les élèves et est donc considérablement afaibli. Étudier à plusieurs, c'est également <strong>échanger</strong> sur les incompréhensions et les découvertes, c'est aussi donner la chance à des <strong>révisions collectives</strong> ou d'autres moyens de pratiquer.</p>
            </li>
            <li>
                <h3>En utilisant Scolia, en quoi je m'engage ?</h3>
                <p>Vous n'avez aucun engagement envers Scolia. Cependant vous vous <strong>engagez moralement envers les autres personnes</strong> à les tenir informées en cas de changement, à être présent aux cours ou à prévenir en cas d'empêchement, à respecter les horaires et tarifs convenus. Les règles sont de l'ordre de la courtoisie et du bon sens humain.</p>
            </li>
            <li>
                <h3>Je suis enseignant particulier, quel tarif demander ?</h3>
                <p>Nous vous conseillons d'essayer de pratiquer des <strong>etarifs mutualisés</strong>  peine plus élevé que pour un élève particulier (+-30%). Souvenez-vous que le but est de rendre les cours <strong>accessibles à tous</strong>.</p>
            </li>
            <li>
                <h3>Comment faire avec les chèques emploi services (CESU) ?</h3>
                <p>Si un élève souhaite utiliser ce moyen de paiement et qu'il est accepté par l'enseignant, nous vous conseillons qu'il lui donne son chèque et que les autres élèves complètent leur partie.</p>
            </li>
        </ul>
    </section>
{% endblock body %}

{% block join %}
    <section>
        <h2>Prêt à <strong>rejoindre Scolia</strong> ?</h2>
        <p>C'est sans engagement, <strong>gratuit</strong>, et vous êtes directement mis en relation avec les participants.</p>
        <a href="{{ url('users:create') }}">Je m'inscris</a>
        <a href="{{ url('courses:list') }}">Voir les cours</a>
    </section>
{% endblock join %}