{% macro form_row(field, label) %}
    {{ field.errors }}
    <label for="{{ field.id_for_label }}">{{ label or field.label }}</label>
    {{ field }}
{% endmacro %}

{% macro form_content(form) %}
    {% if form.errors %}
        <p class="form_errors">Veuillez corriger les erreurs ci-dessous</p>
    {% endif %}
    {% for hidden in form.hidden_fields() %}
        {{ hidden }}
    {% endfor %}
    <ul>
        {% for field in form.visible_fields() %}
        <li {% if field.errors %}class="error"{% endif %}>
            {{ field.label_tag() }}
            {{ field }}
            {{ field.errors }}
        </li>
        {% endfor %}
    </ul>
{% endmacro %}
