// === class === // 

    // = icon = // 

.symbol {
    display: block;
    text-align: center;
    font-family: FontAwesome;
    font-size: 3.5em;
    opacity: 0.35;
    margin: 10px 0 40px 0;
}
.social {
    font-family: FontAwesome;
    font-size: 1.25em;
    display: inline-block;
    padding: 5px;
    color: #fff;
    border-radius: 100%;
    border: 0px none;
    height: 2.25em;
    line-height: 2.25em;
    position: relative;
    top: 0;
    left: 0;
    width: 2.25em;
    transition: all 0.2s ease-in-out 0s;
}
    // = /icon = //

    // = button = // 

.type1 {
    background: none repeat scroll 0% 0% #83D3C9;
    border-color: #83D3C9;
    color: #fff;
    text-shadow: none;
    font-weight: 900;
    &:hover {
        background: none repeat scroll 0% 0% #88e3d1;
    }
}
.type2 {
    color: white;
    text-decoration: none;
    padding: 0.6em 0.75em;
    border: 1px solid transparent;
    margin-left: .5em;
    &:hover {
        border: 1px solid #fff;
    }
}
.type3 {
    display: inline-block;
    border: 1px solid #FFF;
    text-shadow: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.8em;
    width: 25%;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 0;
    left: 25%;
    transition: all 0s ease 0s;
    &:hover {
        background-color: rgba(250, 250, 250, 0.15);
    }
    &:first-of-type {
    left: 37.5%;
    }
}
.type4 {
    &:first-of-type {
        background: none repeat scroll 0% 0% #83D3C9;
        border-color: #83D3C9;
        left: 25%;
        &:hover {
            background: none repeat scroll 0% 0% #88e3d1;
        }
    }
}

    // = /button = // 

    // = enlarging for sticky = //

.enlarging {
    padding-top: 500px;
    header {
        top: 100px;
        transition: 0.3s top;
    }
}

    // = /enlarging for sticky = //

    // = homeheader = //

.homeheader {
    text-shadow: 0px 0px 4px #000;
    background-image: url('/static/images/banner-home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    padding: 29px 37px;
    position: inherit;
    margin-top: 0px;
    top: 0;
    h1 {
        display: inline-block;
        font-weight: 900;
        font-size: 1.05em;
        margin: 0;
        a {
            text-decoration: none;
            color: white;
        }
        span {
            font-weight: 300;
        }
    }
    nav {
        position: absolute;
        right: 0;
        top: 0;
        padding: 29px 37px;
        letter-spacing: 0.075em;
        font-size: 0.8em;
        &.sticky {
            position: fixed;
            top: 100px;
            margin-top: -100px;
            transition: 0.5s top;
        }
        > ul {
            margin: 0;
            padding: 0;
            > li {
                position: relative;
                list-style-type: none;
                display: inline-block;
                &:last-child:hover {
                    ul {
                        display: inherit;
                    }
                    > a {
                        background-color: #88e3d1;
                        border-bottom: none;
                    }
                }
                > a {
                    @extend .type2;
                    &:hover {
                        background: none;
                        border: 1px solid #fff;
                    }
                }
                &:last-child > a {
                    background-color: #83D3C9;
                    border-color: #83D3C9;
                    color: #fff;
                    text-shadow: none;
                    font-weight: 900;
                    padding-left: 1em;
                    border-bottom: none;
                    &:before {
                        font-family: FontAwesome;
                        content: "";
                        margin-right: 1em;
                    }
                }

                    // submenu //

                ul {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    min-width: 100%;
                    display: none;
                    font-size: 0.9em;
                    font-weight: 500;
                    padding: 20px 0 0 0;
                    letter-spacing: 0.025em;
                    transition: 0.2s all;
                    z-index: 0;
                    &:before {
                        background-color: #fff;
                        content: "";
                        display: block;
                        height: 12px;
                        left: 19px;
                        position: absolute;
                        top: 14px;
                        transform: rotate(45deg);
                        width: 12px;
                        z-index: -1;
                    }
                    li {  
                        border-bottom: 1px solid rgba(124, 128, 129, 0.2);
                        list-style-type: none;
                        background-color: #fff;
                        text-shadow: none;
                        &:last-child{
                            border-bottom: none;
                        }
                        a {
                            display: block;
                            padding: 0 0.4em;
                            color: #7C8081;
                            text-decoration: none;
                            padding: 0.2em 0.5em;
                            border-bottom: none;
                            &:first-child {
                                padding-top: 0.4em;
                            }
                            &:hover {
                                background-color: rgba(250, 250, 250, 0.6);
                            }
                        }
                    }
                }
            }
        }
    }
}

// = /homeheader = //

// = section = //

.contact1 {
    background-color: #645862;
    color: #fff;
    padding: 3em;
    h2,p {
        text-align: center;
    }
    p {
         margin: 0px 0px 2em;
    }
}
.contact2 {
    background-color: #83D3C9;
    color: #fff;
    padding: 3em;
    h2,p {
        text-align: center;
    }
    p {
         margin: 0px 0px 2em;
    }
}

// = /section = //

// === /class === //

// === commun === //

main {
    padding: 62px 120px 0px;
}
body {
    font-family:"Lato", sans-serif;
    font-size: 14pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
    color: #7C8081;
    background: none repeat scroll 0% 0% #F3F6FA;
    min-width: 850px;
}
a {
    color: #3fb1a3;
    text-decoration: none;
    border-bottom: 1px dotted #3fb1a3;
    &:hover {
        border-bottom: none;
    }
}
h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 300;
    line-height: 1.75em;
    text-transform: uppercase;
    text-align: center;
}

header {
    text-shadow: none;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.075);
    position: fixed;
    top: 100px;
    margin-top: -100px;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    height: auto;
    padding: 14px 22px;
    z-index: 1;
    h1 {
        display: inline-block;
        font-weight: 900;
        font-size: 1.05em;
        margin: 0;
        a {
            text-decoration: none;
            color: #7C8081;
            border-bottom: none;
        }
        span {
            font-weight: 300;
        }
    }
    nav {
        position: absolute;
        right: 0;
        top: 0;
        padding: 14px 37px;
        letter-spacing: 0.075em;
        font-size: 0.8em;
        > ul {
            margin: 0;
            padding: 0;
            > li {
                position: relative;
                list-style-type: none;
                display: inline-block;
                &:last-child:hover {
                    ul {
                        display: inherit;
                    }
                    > a {
                        background-color: #88e3d1;
                        border-bottom: none;
                    }
                }
                > a {
                    color: #7C8081;
                    text-decoration: none;
                    padding: 0.6em 0.75em;
                    border: 1px solid transparent;
                    margin-left: .5em;
                    border-bottom: none;
                    &:hover {
                        background-color: #F3F6FA;
                    }
                }
                &:last-child > a {
                    background-color: #83D3C9;
                    border-color: #83D3C9;
                    color: #fff;
                    text-shadow: none;
                    font-weight: 900;
                    padding-left: 1em;
                    border-bottom: none;
                    &:before {
                        font-family: FontAwesome;
                        content: "";
                        margin-right: 1em;
                    }
                }
                
                // submenu //
                
                ul {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    min-width: 100%;
                    display: none;
                    font-size: 0.9em;
                    font-weight: 500;
                    padding: 20px 0 0 0;
                    letter-spacing: 0.025em;
                    transition: 0.2s all;
                    z-index: 0;
                    &:before {
                        background-color: #fff;
                        content: "";
                        display: block;
                        height: 12px;
                        left: 19px;
                        position: absolute;
                        top: 14px;
                        transform: rotate(45deg);
                        width: 12px;
                        z-index: -1;
                    }
                    li {  
                        border-bottom: 1px solid rgba(124, 128, 129, 0.2);
                        list-style-type: none;
                        background-color: #fff;
                        &:last-child{
                            border-bottom: none;
                        }
                        a {
                            display: block;
                            padding: 0 0.4em;
                            color: #7C8081;
                            text-decoration: none;
                            padding: 0.2em 0.5em;
                            border-bottom: none;
                            &:first-child {
                                padding-top: 0.4em;
                            }
                            &:hover {
                                background-color: rgba(250, 250, 250, 0.6);
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    h2 {
        font-size: 1.1em;
        font-weight: normal;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }
    nav:first-of-type {
       display: inline-block;
       width: 33%;
       padding-left: 10%;
       a {
           color: #7C8081;
           font-weight: normal;
           font-size: .85em;
           text-decoration: none;
           border-bottom: none;
           &:before {
               content: "» ";
           }
           &:hover {
               text-decoration: underline;
           }
       }
   }
   nav:last-of-type {
       display: inline-block;
       width: 33%;
       text-align: center;
       a {
           border-bottom: none;
           &:first-child {
               &::before {
                   @extend .social;
                   content:"\f099";
                   background: none repeat scroll 0% 0% #70AECD;
               }
               &:hover {
                   position : relative;
                   top: -5px;
               }
           }
           &:nth-child(2) {
                   padding: 0 20px;
                   &::before {
                   @extend .social;
                   content:"\f09a";
                   background: none repeat scroll 0% 0% #7490C3;
               }
               &:hover {
                   position : relative;
                   top: -5px;
               }
           }
           &:last-child {
               &::before {
                   @extend .social;
                   content:"\f0e0";
                   background: none repeat scroll 0% 0% #3FB1A3;
               }
               &:hover {
                   position : relative;
                   top: -5px;
               }
           }
       }
   }
   p {
       text-align: center;
   }
}

// === faq === //

#pg_faq {
    main {
       > h2 {
            &:first-child::before {
                @extend .symbol;
                content: "\f128";
                font-size: 2.25em;
                margin: 20px;
                z-index: -1;
            }
        }
        section {
            background: white;
            margin-bottom: 50px;
            padding: 35px 70px;
            &:last-child {
                @extend .contact1;
                &::before {
                    @extend .symbol;
                    content: "\f087";
                    color: #eee;
                    opacity: 1;
                }
                a {
                    @extend .type3;
                    @extend .type4;
                }
            }
            ul {
                list-style-type: none;
                li {
                    text-align: left;
                    h3 {
                        font-weight: bold;
                        font-size: 1.2em;
                        margin: 1em 0px 0.3em;
                        text-align: left;
                    }
                    p {
                        border: 0px none;
                        font: inherit;
                        text-align: left;
                    }
                }
            }
        }
    }
}

// === /faq === //

// === list courses === //

#pg_courses {
    main {
       > h2 {
            &:first-child::before {
                @extend .symbol;
                content: "";
                font-size: 2.25em;
                margin: 20px;
            }
        }
        section {
            background: #fff;
            margin-bottom: 50px;
            padding: 35px 70px;
            display: inline-flex;
            width: 100%;
            &:last-child {
                @extend .contact1;
                display: inline-block;
                a {
                @extend .type3;
                @extend .type1;
                    &:hover {
                        background: none repeat scroll 0% 0% #88e3d1;
                     }
                }
            }
            ul {
                list-style-type: none;
                width: 55%;
                display: inline-block;
                margin: 0;
                li {
                    text-align: left;
                    h3 {
                        font-weight: bold;
                        font-size: 1.2em;
                        margin: 1em 0px 0.3em;
                        text-align: left;
                        &:before {
                            content: "» ";
                       }
                    }
                    p {
                        border: 0px none;
                        font: inherit;
                        text-align: left;
                    }
                }
            }
            aside {
                width: 40%;
                text-align: center;
                nav {
                    a{
                        display: block;
                        border: 1px solid rgba(165, 165, 165, 0.3);
                        margin-bottom: 15px;
                        &:hover {
                            background-color: rgba(165, 165, 165, 0.1);    
                        } 
                    }
                }
            }
        }
    }
}

// === /list courses === //

// === signin === //

#pg_signin {
    main {
       > h2 {
            &:first-child::before {
                @extend .symbol;
                content: "";
                font-size: 2.25em;
                margin: 20px;
            }
        }
        section {
            background: white;
            margin-bottom: 50px;
            padding: 35px 70px;
            ul {
                list-style-type: none;
                padding-left: 0;
        
                li {
                    text-align: left;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 35px;
                    }
                }
            }
            label {
                display: inline-block;
                min-width: 150px;
            }
            input {
                display: inline-block;
                border: 1px solid #999;
                padding: 10px;
                width: 30%;
            }
            form > input {
                @extend .type1;
                margin-left: 155px;
                width: 20%;
            }
            a {
                display: block;
                margin-bottom: 35px;
                color: #3FB1A3;
                text-decoration: none;
                border-bottom: none;
                &:hover {
                    text-decoration: underline;
                }
            }  
        }
    }
}

// === /signin === //

// === dashboard === //

#pg_dashboard {
    main {
        > h2 {
            &:first-child::before {
            @extend .symbol;
            content: "";
            font-size: 2.25em;
            margin: 20px;
            }
        }
        section {
            background: white;
            margin-bottom: 50px;
            padding: 35px 70px;
            ul {
                list-style-type: none;
                padding-left: 0;
        
                li {
                    text-align: left;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 35px;
                    }
                }
            }
        }
    }
}

// === /dashboard === //

// === détail courses === //

#pg_detail {
    main {
       > h2 {
            &:first-child::before {
                @extend .symbol;
                content: "";
                font-size: 2.25em;
                margin: 20px;
            }
        }
        section {
            background: #fff;
            margin-bottom: 50px;
            padding: 35px 70px;
            display: inline-block;
            width: 100%;
            &:last-child {
                @extend .contact2;
                display: inline-block;
                input {
                @extend .type3;
                @extend .type1;
                    &:hover {
                        background: none repeat scroll 0% 0% #88e3d1;
                    }
                }
            }
            > article {
                width: 35%;
                display: inline-block;
                p {
                    font-size: 1.2em;
                }
                &:before {
                    @extend .symbol;
                    content: "\f05a";
                    font-size: 1.5em;  
                    margin: 0;
                }
            }
            > section {
                float: right;
                width: 50%;
                padding: 0;
                h2 {
                    text-align: center;
                    font-size: 1.2em;
                }
                ul {
                    float: right;
                    li{
                        list-style-type: none;
                    }
                }
                &:before {
                    @extend .symbol;
                    content: "\f0c0";
                    font-size: 1.5em;
                    margin: 0;
                    
                }
            }
            a {
                display: inline-block;
                @extend .type3;
                @extend .type2;
                &:hover {
                    background: none repeat scroll 0% 0% #88e3d1;
                }
            }
            aside {
                width: 40%;
                text-align: center;
                nav {
                    a{
                        display: block;
                        border: 1px solid rgba(165, 165, 165, 0.3);
                        margin-bottom: 15px;
                        &:hover {
                            background-color: rgba(165, 165, 165, 0.1);    
                        } 
                    }
                }
            }
        }
    }
}

// === /détail courses === //
