{% extends 'base.html' %}
 
{% block meta_title %}Mon tableau de bord{% endblock meta_title %}

{% block page_id %}pg_dashboard{% endblock page_id %}
 
{% block title %}Mon tableau de bord{% endblock title %} 
 
{% set courses = request.user.courses.all() %}

{% block body %}
    
    {% if not courses %}
        <section>
            <h4>Bienvenue sur Scolia,</h4>
            <p>Et félicitations, vous faites partie des pionniers de cette plateforme !<br />
            Vous aurez donc la chance de voir le projet évoluer et d'assister à la naissance des cours mutualisés.<br />N'hésitez pas à faire naître les initiatives <a href="{{ url ('courses:create') }}">proposant un cours</a> et ainsi offrir la chance aux autres de vous rejoindre.</p>
            <p>Vous pouvez également <a href="{{ url ('courses:list') }}">parcourir les cours existants</a> pour participer aux cours proposés autour de chez vous ou de vous inspirer des autres cours proposés.</p>
        </section>
   
     {% else %}
        <section>
            <h3>Mes cours</h2>
            <ul>
                {% for course in courses %}
                <li>{{ course }} - <a href="{{ url('courses:details', course) }}">voir</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
{% endblock %}      
