{% extends 'base.html' %}

{% block meta_title %}S'authentifier{% endblock %}

{% from "forms/macros.html" import form_content %}

{% block title %}Me connecter{% endblock title %}

{% block page_id %}pg_signin{% endblock page_id %}

{% block body %}
   <section>
        <form method="post" action=".">
            {{ csrf() }}
            {{ form_content(form) }}
            <p><a href="{{ url('users:create') }}">Je n'ai pas de compte</a></p>
            <input type="submit" />
        </form>
    </section>
{% endblock body %}