{% extends 'base.html' %}

{% block meta_title %}Modifier mon compte{% endblock %}

{% from "forms/macros.html" import form_content %}

{% block title %}Mettre à jour mes informations{% endblock title %}

{% block page_id %}pg_signin{% endblock page_id %}

{% block body %}
    <section>
        <h2>A propos de moi</h2>
        <form method="post" action=".">
            {{ csrf() }}
            {{ form_content(form) }}
            <input type="submit" />
        </form>
    </section>
{% endblock %}