{% extends 'aside.html' %}

{% block meta_title %}
    {% if category %}
        Tous les cours mutualisés de {{ category }}
    {% else %}
        Liste des cours mutualisés disponibles
    {% endif %}
{% endblock %}

{% block page_id %}pg_courses{% endblock page_id %}

{% block title %}
    <h2>
        Trouver un cours
        {% if category %}de {{ category }}{% endif %}
    </h2>
{% endblock %}

{% block content %}
    <ul>
        <li>
            {% if courses %}
                {% for course in courses %}
                    <article>
                        <h3>{{ course.title }}</h3>
                        <p>{{ course.body }}</p>
                        <a href="{{ url('courses:details', course) }}" title="cours de {{ course.category }} à {{ course.city }}">Consulter ce cours</a>
                        <small>(cours de {{ course.category }})</small>   
                    </article>
                {% endfor %}
            {% else %}
                <p>Aucun <a href="{{ url('courses:list', category) }}" title="Aucun cours de {{ category }} en ce moment">cours de {{ category }}</a> n'est pour l'instant proposé.<br />
                C'est certainement une opportunité pour inviter d'autres membres à se joindre à vous !<br />
                <a href="{{ url('courses:create') }}?category={{ category.slug }}_{{ category.pk }}" class="button special">Organiser un cours de {{ category }}</a>
                </p>
            {% endif %}
        </li>
    </ul>
{% endblock content%}

{% block sidebar %}
    <aside>
        <h3>Sujets disponibles</h3>
        <nav>
            {% for category in categories %}
            <a href="{{ url('courses:category', category) }}" title="Tous les cours de {{ category }}">{{ category }}</a>
                {% endfor %}
                <a href="{{ url('courses:list') }}" title="Voir tous les cours">Tous</a>
        </nav>
    </aside>
{% endblock sidebar %}