<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>{% block meta_title %}Cours particuliers et soutien scolaire mutualisés{% endblock %} - Scolia</title>
    <meta name="description" content="Mutualisation de cours particuliers, soutien scolaire et cours à domicile pour des coûts réduits." />
    <meta name="keywords" content="cours particuliers, soutien scolaire, cours à domicile, aide cours" />

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/css/normalize.css" rel="stylesheet" />
    <link href="/static/css/framework.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />

</head>

<body id="pg_faq">

    <header>
        <h1><a href="#">scolia<span>, cours mutualisés.</span></a></h1>
        <nav>
            <a href="{{ url('courses:list') }}">Liste des cours</a>
            <a href="#">Questions fréquentes</a>
            <a href="{{ url('users:login') }}">J'ai un compte</a>
            <a href="{{ url('users:create') }}">Je m'inscris</a>
        </nav>
    </header>

    <main>
        <h2>questions fréquentes</h2>
        <section>
            <ul>
                <li>
                    <h3>Qu'est-ce que Scolia ?</h3>
                    <p>Scolia est une <strong>plateforme de cours mutualisés</strong> qui permet à des particuliers de se regrouper afin de suivre des cours avec un enseignant.</p>
                </li>
                <li>
                    <h3>Que sont les cours mutualisés ?</h3>
                    <p>En complément aux cours particuliers, les cours mutualisés sont des cours donnés à un petit groupe d'élèves désireux de partager une matière commune.</p>
                </li>
                <li>
                    <h3>Quels intérêts par rapport aux cours particuliers ?</h3>
                    <p>Le <strong>coût est divisé</strong> entre les élèves et est donc considérablement afaibli. Étudier à plusieurs, c'est également <strong>échanger</strong> sur les incompréhensions et les découvertes, c'est aussi donner la chance à des <strong>révisions collectives</strong> ou d'autres moyens de pratiquer.</p>
                </li>
                <li>
                    <h3>En utilisant Scolia, en quoi je m'engage ?</h3>
                    <p>Vous n'avez aucun engagement envers Scolia. Cependant vous vous <strong>engagez moralement envers les autres personnes</strong> à les tenir informées en cas de changement, à être présent aux cours ou à prévenir en cas d'empêchement, à respecter les horaires et tarifs convenus. Les règles sont de l'ordre de la courtoisie et du bon sens humain.</p>
                </li>
                <li>
                    <h3>Je suis enseignant particulier, quel tarif demander ?</h3>
                    <p>Nous vous conseillons d'essayer de pratiquer des <strong>etarifs mutualisés</strong>  peine plus élevé que pour un élève particulier (+-30%). Souvenez-vous que le but est de rendre les cours <strong>accessibles à tous</strong>.</p>
                </li>
                <li>
                    <h3>Comment faire avec les chèques emploi services (CESU) ?</h3>
                    <p>Si un élève souhaite utiliser ce moyen de paiement et qu'il est accepté par l'enseignant, nous vous conseillons qu'il lui donne son chèque et que les autres élèves complètent leur partie.</p>
                </li>
            </ul>
        </section>
        <section>
            <h2>Prêt à <strong>rejoindre Scolia</strong> ?</h2>
            <p>C'est sans engagement, <strong>gratuit</strong>, et vous êtes directement mis en relation avec les participants.</p>
            <a href="{{ url('users:create') }}">Je m'inscris</a>
            <a href="{{ url('courses:list') }}">Voir les cours</a>
        </section>
    </main>

    <footer>
        <nav>
            <h2>Voir aussi</h2>
            <a href="#">Questions fréquentes</a>
        </nav>
        <nav>
            <a href="https://twitter.com/scolia_org" title="Compte Twitter de @scolia_org"></a>
            <a href="https://www.facebook.com/pages/Scolia/172043506273273" title="Page Facebook de Scolia"></a>
            <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#099;&#111;&#108;&#105;&#097;&#046;&#111;&#114;&#103;" title="Contacter scolia par mail"></a>
        </nav>
        <p>&copy; scolia <time datetime="20140101">2014</time></p>
    </footer>

</body>

</html>

